@font-face {
	font-family: 'Charter';
	src: url( 'charter/webfonts/charter_regular-webfont.woff' ) format('woff'),
	url( 'charter/webfonts/charter_regular-webfont.ttf' ) format('truetype');
	font-weight: normal;
	font-style: normal;
}  

@font-face {
	font-family: 'Charter';
	src: url( 'charter/webfonts/charter_bold-webfont.woff' ) format('woff'),
	url( 'charter/webfonts/charter_bold-webfont.ttf' ) format('truetype');
	font-weight: bold;
	font-style: normal;
}  

@font-face {
	font-family: 'Charter';
	src: url( 'charter/webfonts/charter_italic-webfont.woff' ) format('woff'),
	url( 'charter/webfonts/charter_italic-webfont.ttf' ) format('truetype');
	font-weight: normal;
	font-style: italic;
}  

@font-face {
	font-family: 'OpenSans';
	src: url( 'open-sans/OpenSans-Regular.ttf' ) format('truetype');
	font-weight: normal;
	font-style: normal;
}  

@font-face {
	font-family: 'OpenSans';
	src: url( 'open-sans/OpenSans-Bold.ttf' ) format('truetype');
	font-weight: bold;
	font-style: normal;
}  

@font-face {
	font-family: 'OpenSans';
	src: url( 'open-sans/OpenSans-Italic.ttf' ) format('truetype');
	font-weight: normal;
	font-style: italic;
}  

.sticky-nav header.site-header {
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
}

header.site-header {
	width: 100%;
	z-index: 2;
	height: 4em;

	.header-contents {
		max-width: 1300px;
		margin-left: auto;
		margin-right: auto;
		padding: 1em 4em;
		width: 100%;
		position: relative;
	}

	.site-title {
		font-size: 1.5em;
		position: absolute;
		top: .5em;

		a {
			text-decoration: none;
			font-weight: bold;
			color: inherit;
		}
	}

	.custom-logo-link {
		img {
			height: 4em;
			width: auto;
			margin-top: -1em;
		}
	}

	#primary-menu {
		position: absolute;
		top: 1.25em;
		right: 4em;
		text-align: right;
		z-index: 2;

		li {
			margin-left: 2em;
		}

		.menu-item-has-children {
			position: relative;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}

			.sub-menu {
				text-align: left;
				background-color: white;
				margin-left: -.5em;
				box-shadow: none;
				padding: .5em;

				li {
					margin: .5em;
				}
			}
		}
	}

	.menu-toggle {
		border: none;
		background: none;
		font-size: 1.5em;
		margin-top: 2px;
		margin-right: .5em;
		padding: 0;
	}

	.toggled {
		width: 100%!important;
		right: 0!important;
		top: 0;

		.menu-toggle {
			position: absolute;
			right: .75em;
			top: .75em;
			z-index: 3;
		}

		li {
			margin: 0!important;
			padding-top: .25em;
			padding-bottom: .25em;
			text-decoration: none!important;
		}

		#primary-menu {
			padding-top: 3em;
			padding-bottom: 3em;
		}
	}
}

#content, footer.site-footer {
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 4em;
	padding-right: 4em;
	width: 100%;
}

#main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 2em;

	header {
		width: 100%;
	}
}

.sticky-nav #main {
	margin-top: 6em;
}

.title {
	font-weight: bold;
}

input[type="submit"] {
	background-color: #FFFFFF;
	font-size: 1.05em;
	padding: 1em;
	cursor: pointer;
}

/**
 * Archive styles.
 */

.mem-block {
	margin-bottom: 2em;
	position: relative;

	a {
		text-decoration: none;
		color: inherit;
	}

	p {
		margin: 0;
	}

	&.full {
		width: 100%;
		margin-bottom: 2em;

		.title {
			font-size: 2em;
		}

		&.no-thumbnail {
			.article-info {
				padding: 2em;
			}

			.title {
				margin-bottom: 1em;
			}

			.excerpt {
				font-size: 1.25em;
			}

			.byline {
				margin-top: 2em;
			}
		}

		&.has-thumbnail {
			.article-info {
				position: absolute;
				bottom: 0;
				background: white;
				max-width: 75%;
			}

			.title {
				padding: 1em;
			}

			.byline {
				display: none;
			}
		}
	}

	&.large {
		width: 66.66%;
		padding-bottom: 4em;

		.title {
			font-size: 2em;
			margin-bottom: 1em;
		}

		.excerpt {
			font-size: 1.25em;
		}

		.byline {
			position: absolute;
			bottom: 2em;
		}

		.article-info {
			padding: 2em;
		}
	}

	&.small {
		width: 33.33%;
		padding: 2em;
		padding-top: 0;

		.article {
			margin-bottom: 2em;
			position: relative;
		}

		.title {
			font-size: 1.25em;
		}

		.byline {
			margin-top: 1em;
		}
	}

	&.spacer {
		width: 100%;
		margin-top: 2em;
		margin-bottom: 2em;

		hr {
			margin: 0;
		}
	}
}

.river-block {
	margin-bottom: 2em;
	position: relative;

	a {
		text-decoration: none;
		color: inherit;
	}

	p {
		margin: 0;
	}

	&.full {
		width: 100%;
		padding-bottom: 2em;

		.title {
			font-size: 2em;
			margin-bottom: 1em;
		}

		.byline {
			margin-top: 2em;
		}

		&.no-thumbnail {
			.excerpt {
				font-size: 1.25em;
			}
		}

		&.has-thumbnail {
			display: flex;
			justify-content: space-between;

			.thumbnail {
				padding-right: 1em;
			}

			.article-info {
				padding-left: 1em;
				width: 48%;
			}
		}
	}

	&.small {
		display: flex;
		justify-content: space-between;

		.article {
			width: 33.33%;
			padding-bottom: 2em;
			box-sizing: content-box;

			&:nth-of-type(2) {
				padding-left: 4em;
				padding-right: 4em;
			}
		}

		.thumbnail {
			margin-bottom: 1em;
		}

		.title {
			font-size: 1.25em;
		}

		.excerpt {
			margin-top: 2em;
		}

		.byline {
			margin-top: 1em;
		}
	}
}

.on-page-search {
	width: 100%;
	font-size: 16px!important;
	margin-bottom: 2em;

	.search-field {
		line-height: 2em;
		border-right: none;
		padding: .25em;
	}

	.search-submit {
		padding: .75em;
		margin-left: -2px;
	}

}

.widget {
	width: 33.33%;
	padding: 2em;
	padding-top: 0;
	margin: 0;

	ul {
		margin-left: 0;
	}

	ul {
		padding-left: 1em;
	}

	.widget-title {
		font-size: 1.25em;
		margin: 0;
		margin-bottom: 1em;
	}

	&.widget_search {
		.search-form {
			display: flex;
		}

		.search-field {
			line-height: 2em;
			border-right: none;
		}

		.search-submit {
			padding: .5em;
		}
	}

}

.navigation {
	width: 100%;
	margin-top: 2em;
	margin-bottom: 2em;

	.nav-previous {
		float: right;
		text-align: right;
	}

	.nav-next {
		float: left;
		text-align: left;
	}

	a {
		text-decoration: none;
		font-size: 1.25em;
	}
}

/**
 * Single styles.
 */
 .single, .page {
 	#main {
 		display: block;
 	}

 	p {
 		margin-bottom: 2em;
 		margin-top: 0;
 	}

 	footer {
 		a {
 			color: inherit;
 		}
 	}

 	.byline {
 		margin-bottom: 1em;
 	}

 	.title {
 		margin-top: 0;
 		margin-bottom: 1em;
 	}

 	.content {
 		font-size: 1.25em;
 	}

 	.post-thumbnail {
 		margin-bottom: 2em;
 	}

 	.edit-link {
 		float: right;
 	}

 	.has-sidebar {
 		display: flex;
 		flex-wrap: wrap;
 		justify-content: space-between;

 		.title, .post-thumbnail, .footer {
 			width: 100%;
 		}

 		.content {
 			width: calc( 100% - 300px );
 		}

 		#sidebar-single {
 			width: 300px;
 		}
 	}

 	.comment-list {
 		margin-left: 0;
 		padding-left: 0;
 		list-style-type: none;

 		.comment-content {
 			p:last-of-type {
 				margin-bottom: 0;
 			}
 		}

 		.comment-body {
 			margin-bottom: 2em;
 		}
 	}

 	.tags-links {
 		margin-left: 1em;
 	}
}

#sidebar-single {
	padding-left: 2em;

	.widget {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
}

/**
 * Footer styles.
 */
 footer.site-footer {
 	text-align: center;
	margin-top: 4em;

 	.site-description {
 		margin-top: 2em;
 		margin-bottom: 2em;
 	}

	.footer-menu {
		padding-bottom: 2em;

 		ul {
 			display: flex;
 			justify-content: space-between;
 			list-style: none;
 			padding: 0;
 			margin-left: 0;
 		}
	}

	.theme-info {
		margin-bottom: 1em;
		font-size: 12px;
		opacity: 0.75;
	}
}

 /**
  * Block styles.
  */
.wp-block-image {
	margin-bottom: 2em;

	.alignleft {
		margin-right: 2em;
	}

	.alignright {
		margin-left: 2em;
	}
}

/**
 * Tablet styles.
 */
 @media (max-width: 800px) { 
 	#main {
 		display: block;
 	}

 	.mem-block {
 		&.full.has-thumbnail {
 			.article-info {
 				background: inherit;
 				max-width: 100%;
 				position: relative;
 			}

 			.byline {
 				display: block;
 				padding-left: 2em;
 				padding-right: 2em;
 				padding-bottom: 2em;
 			}
 		}

 		&.large {
 			width: 100%;
 		}

 		&.small {
 			width: 100%;
 			display: flex;
 			flex-wrap: wrap;
 			justify-content: space-between;
 			padding: 0;

 			.article {
 				width: calc(50% - 2em);
 			}
 		}
 	}

 	.river-block {
 		&.full {
 			padding: 0;

 			&.has-thumbnail {
 				display: block;

 				.article-info {
 					padding-left: 0;
 					width: 100%;
 					padding-top: 2em;
 				}
 			}
 		}

 		&.small {
 			flex-wrap: wrap;
 			margin-bottom: 0;

 			.article {
 				width: 100%;
 				padding: 0!important;
 				margin-bottom: 2em;
 			}
 		}
 	}

	.widget {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

 	.has-sidebar {
 		display: block!important;

 		.content {
 			width: 100%!important;
 		}
 	}

 	#sidebar-single {
 		display: none;
 	}
 }

 /**
 * Mobile styles.
 */
@media (max-width: 600px) { 
	#site-navigation {
		position: absolute;
		right: 1em;
		width: auto;
	}

	header.site-header {
		#primary-menu {
			position: relative;
			top: auto;
			right: auto;
			text-align: center;

			> li {
				float: none;
				width: 100%;
				font-size: 1.25em;
			}
		}
	}

	.site-title {
		left: 1em;
	}

	#content {
		font-size: 14px;
		padding-left: 2em;
		padding-right: 2em;
	}

	.mem-block {
		.title {
			font-size: 1.5em!important;
		}

		&.full {
			&.no-thumbnail {
				border: none!important;

				.article-info {
					padding: 0;
				}

				.title {
					margin-bottom: .5em;
				}

				.byline {
					margin-top: 1em;
				}
			}

			&.has-thumbnail {
				.title, .byline {
					padding: 0;
				}

				.title {
					padding-bottom: .5em;
					padding-top: .5em;
				}
			}
		}

		&.large {
			.article-info {
				padding: 0;
			}

			.title {
				padding-top: .5em;
				margin-bottom: .5em;
			}

			.byline {
				position: relative;
				bottom: auto;
				margin-top: 1em;
			}
		}

		&.small {
			.article {
				width: 100%;
			}
		}
	}

	.river-block {
		.title {
			font-size: 1.5em!important;
		}
	}

	footer.site-footer {
		.footer-menu ul {
			display: block;
		}
	}

}