$light: rgba(0,0,0,.4);
$border: 1px solid rgba(0,0,0,.1);

@font-face {
  font-family: 'Charter';
  src: url( 'charter/webfonts/charter_regular-webfont.woff' ) format('woff'),
  url( 'charter/webfonts/charter_regular-webfont.ttf' ) format('truetype');
  font-weight: normal;
  font-style: normal;
}  

@font-face {
  font-family: 'Charter';
  src: url( 'charter/webfonts/charter_bold-webfont.woff' ) format('woff'),
  url( 'charter/webfonts/charter_bold-webfont.ttf' ) format('truetype');
  font-weight: bold;
  font-style: normal;
}  

@font-face {
  font-family: 'Charter';
  src: url( 'charter/webfonts/charter_italic-webfont.woff' ) format('woff'),
  url( 'charter/webfonts/charter_italic-webfont.ttf' ) format('truetype');
  font-weight: normal;
  font-style: italic;
}  

html {
	font-family: 'Charter', serif;
}

header.site-header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 1;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.05);
	height: 4em;

	.header-contents {
		max-width: 1300px;
		margin-left: auto;
		margin-right: auto;
		padding: 1em 4em;
		width: 100%;
		position: relative;
	}

	.site-title {
		font-size: 1.5em;
		position: absolute;
		top: .5em;

		a {
			text-decoration: none;
			font-weight: bold;
			color: inherit;
		}
	}

	#primary-menu {
		position: absolute;
		top: 1.25em;
		right: 4em;
		text-align: right;

		li {
			margin-left: 2em;
		}

		a {
			color: $light;
		}

		.menu-item-has-children {
			position: relative;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}

			.sub-menu {
				text-align: left;
				background-color: white;
				margin-left: -.5em;
				box-shadow: none;
				border: $border;
				padding: .5em;

				li {
					margin: .5em;
				}
			}
		}
	}
}

#content {
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 4em;
	padding-right: 4em;
	width: 100%;
}

#main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 6em;
	color: #676767;

	header {
		width: 100%;
	}
}

.title {
	font-weight: bold;
}

.byline {
	color: $light;
}

hr {
	background-color: rgba(0,0,0,.1);
}

input[type="submit"] {
	background-color: #FFFFFF;
	font-size: 1.05em;
	padding: 1em;
	border: $border;
	cursor: pointer;

	&:hover {
		border: 1px solid #676767;
	}
}

textarea {
	border: $border;
}

a {
	color: $light;

	&:visited {
		color: $light;
	}
}

/**
 * Archive styles.
 */

.mem-block {
	margin-bottom: 2em;
	position: relative;

	a {
		text-decoration: none;
		color: inherit;
	}

	p {
		margin: 0;
	}

	&.full {
		width: 100%;

		.title {
			font-size: 2em;
		}

		&.no-thumbnail {
			border: $border;

			.article-info {
				padding: 2em;
			}

			.title {
				margin-bottom: 1em;
			}

			.excerpt {
				font-size: 1.25em;
			}

			.byline {
				margin-top: 2em;
			}
		}

		&.has-thumbnail {
			.article-info {
				position: absolute;
				bottom: 0;
				background: white;
				max-width: 75%;
			}

			.title {
				padding: 1em;
			}

			.byline {
				display: none;
			}
		}
	}

	&.large {
		width: 66.66%;
		padding-bottom: 4em;

		.title {
			font-size: 2em;
			margin-bottom: 1em;
		}

		.excerpt {
			font-size: 1.25em;
		}

		.byline {
			position: absolute;
			bottom: 2em;
		}

		.article-info {
			padding: 2em;
		}

		&.no-thumbnail {
			border: $border;
		}
	}

	&.small {
		width: 33.33%;
		padding: 2em;
		padding-top: 0;

		.article {
			margin-bottom: 2em;
			position: relative;
		}

		.title {
			font-size: 1.25em;
		}

		.byline {
			margin-top: 1em;
		}
	}

	&.spacer {
		width: 100%;
		margin-top: 2em;
		margin-bottom: 2em;

		hr {
			margin: 0;
		}
	}
}

.river-block {
	margin-bottom: 2em;
	position: relative;

	a {
		text-decoration: none;
		color: inherit;
	}

	p {
		margin: 0;
	}

	&.full {
		width: 100%;
		padding: 2em;

		.title {
			font-size: 2em;
			margin-bottom: 1em;
		}

		.byline {
			margin-top: 2em;
		}

		&.no-thumbnail {
			.excerpt {
				font-size: 1.25em;
			}
		}

		&.has-thumbnail {
			display: flex;
			justify-content: space-between;

			.thumbnail {
				padding-right: 1em;
			}

			.article-info {
				padding-left: 1em;
				width: 48%;
			}
		}
	}

	&.small {
		display: flex;
		justify-content: space-between;

		.article {
			width: 33.33%;
			padding: 2em;
		}

		.thumbnail {
			margin-bottom: 1em;
		}

		.title {
			font-size: 1.25em;
		}

		.excerpt {
			margin-top: 2em;
		}

		.byline {
			margin-top: 1em;
		}
	}
}

.widget {
	width: 33.33%;
	padding: 2em;
	padding-top: 0;
	margin: 0;

	ul {
		margin-left: 0;
	}

	ul {
		padding-left: 1em;
	}

	.widget-title {
		font-size: 1.25em;
		margin: 0;
		margin-bottom: 1em;
	}

	&.widget_search {
		.search-form {
			display: flex;
		}

		.search-field {
			line-height: 2em;
			border-right: none;
		}

		.search-submit {
			padding: .5em;
		}
	}

}

.navigation {
	width: 100%;
	margin: 2em;

	.nav-previous {
		float: right;
		text-align: right;
	}

	.nav-next {
		float: left;
		text-align: left;
	}

	a {
		text-decoration: none;
		color: $light;
		font-size: 1.25em;
	}
}

/**
 * Single styles.
 */
 .single {
 	#main {
 		display: block;
 	}

 	p {
 		margin-bottom: 2em;
 		margin-top: 0;
 	}

 	footer {
 		color: $light;

 		a {
 			color: inherit;
 		}
 	}

 	.byline {
 		margin-bottom: 1em;
 	}

 	.title {
 		margin-top: 0;
 		margin-bottom: 1em;
 	}

 	.content {
 		font-size: 1.25em;
 	}

 	.post-thumbnail {
 		margin-bottom: 2em;
 	}

 	.edit-link {
 		float: right;
 	}

 	.has-sidebar {
 		display: flex;
 		flex-wrap: wrap;
 		justify-content: space-between;

 		.title, .post-thumbnail, .footer {
 			width: 100%;
 		}

 		.content {
 			width: calc( 100% - 300px );
 		}

 		#sidebar-single {
 			width: 300px;
 		}
 	}

 	.comment-list {
 		margin-left: 0;
 		padding-left: 0;
 		list-style-type: none;

 		.comment-content {
 			p:last-of-type {
 				margin-bottom: 0;
 			}
 		}

 		.comment-body {
 			margin-bottom: 2em;
 		}
 	}
}

#sidebar-single {
	padding-left: 2em;

	.widget {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
}

 /**
  * Block styles.
  */
.wp-block-image {
	margin-bottom: 2em;

	.alignleft {
		margin-right: 2em;
	}

	.alignright {
		margin-left: 2em;
	}
}

/**
 * Tablet styles.
 */
 @media (max-width: 800px) { 
 	#main {
 		display: block;
 	}

 	.mem-block {
 		&.full.has-thumbnail {
 			.article-info {
 				background: inherit;
 				max-width: 100%;
 				position: relative;
 			}

 			.byline {
 				display: block;
 				padding-left: 2em;
 				padding-right: 2em;
 				padding-bottom: 2em;
 			}
 		}

 		&.large {
 			width: 100%;
 		}

 		&.small {
 			width: 100%;
 			display: flex;
 			flex-wrap: wrap;
 			justify-content: space-between;
 			padding: 0;

 			.article {
 				width: calc(50% - 2em);
 			}
 		}
 	}

 	.river-block {
 		&.full {
 			padding: 0;

 			&.has-thumbnail {
 				display: block;

 				.article-info {
 					padding-left: 0;
 					width: 100%;
 					padding-top: 2em;
 				}
 			}
 		}

 		&.small {
 			flex-wrap: wrap;

 			.article {
 				width: 100%;
 				padding: 0;
 				padding-bottom: 1em;
 			}
 		}
 	}
 }

 /**
 * Mobile styles.
 */
@media (max-width: 600px) { 
	#content {
		font-size: 14px;
		padding-left: 2em;
		padding-right: 2em;
	}

	.mem-block {
		&.full {
			&.no-thumbnail {
				border: none;

				.article-info {
					padding: 0;
				}

				.title {
					margin-bottom: .5em;
				}

				.byline {
					margin-top: 1em;
				}
			}

			&.has-thumbnail {
				.title, .byline {
					padding: 0;
				}

				.title {
					padding-bottom: .5em;
					padding-top: .5em;
				}
			}
		}

		&.large {
			.article-info {
				padding: 0;
			}

			.title {
				padding-top: .5em;
				margin-bottom: .5em;
			}

			.byline {
				position: relative;
				bottom: auto;
				margin-top: 1em;
			}
		}

		&.small {
			.article {
				width: 100%;
			}
		}
	}

}