@font-face {
  font-family: 'Charter';
  src: url("charter/webfonts/charter_regular-webfont.woff") format("woff"), url("charter/webfonts/charter_regular-webfont.ttf") format("truetype"); }
html {
  font-family: 'Charter', sans-serif; }

#content {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4em;
  padding-right: 4em;
  width: 100%; }

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.title {
  font-weight: bold; }

.byline {
  color: rgba(0, 0, 0, 0.4); }

.mem-block {
  margin-bottom: 2em;
  position: relative; }
  .mem-block a {
    text-decoration: none;
    color: inherit; }
  .mem-block p {
    margin: 0; }
  .mem-block.full {
    width: 100%; }
    .mem-block.full .title {
      font-size: 2em; }
    .mem-block.full.no-thumbnail {
      border: 1px solid rgba(0, 0, 0, 0.1); }
      .mem-block.full.no-thumbnail .article-info {
        padding: 2em; }
      .mem-block.full.no-thumbnail .title {
        margin-bottom: 1em; }
      .mem-block.full.no-thumbnail .excerpt {
        font-size: 1.25em; }
      .mem-block.full.no-thumbnail .byline {
        margin-top: 2em; }
    .mem-block.full.has-thumbnail .article-info {
      position: absolute;
      bottom: 0;
      background: white;
      max-width: 75%; }
    .mem-block.full.has-thumbnail .title {
      padding: 1em; }
    .mem-block.full.has-thumbnail .byline {
      display: none; }
  .mem-block.large {
    width: 66.66%;
    padding-bottom: 4em; }
    .mem-block.large .title {
      font-size: 2em;
      margin-bottom: 1em; }
    .mem-block.large .excerpt {
      font-size: 1.25em; }
    .mem-block.large .byline {
      position: absolute;
      bottom: 2em; }
    .mem-block.large .article-info {
      padding: 2em; }
    .mem-block.large.no-thumbnail {
      border: 1px solid rgba(0, 0, 0, 0.1); }
  .mem-block.small {
    width: 33.33%;
    padding: 2em; }
    .mem-block.small .article {
      margin-bottom: 2em;
      position: relative; }
    .mem-block.small .title {
      font-size: 1.25em; }
    .mem-block.small .byline {
      margin-top: 1em; }
  .mem-block.spacer {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em; }
    .mem-block.spacer hr {
      margin: 0; }

.river-block {
  margin-bottom: 2em;
  position: relative; }
  .river-block a {
    text-decoration: none;
    color: inherit; }
  .river-block p {
    margin: 0; }
  .river-block.full {
    width: 100%;
    padding: 2em; }
    .river-block.full .title {
      font-size: 2em;
      margin-bottom: 1em; }
    .river-block.full .byline {
      margin-top: 2em; }
    .river-block.full.no-thumbnail .excerpt {
      font-size: 1.25em; }
    .river-block.full.has-thumbnail {
      display: flex;
      justify-content: space-between; }
      .river-block.full.has-thumbnail .thumbnail {
        padding-right: 1em; }
      .river-block.full.has-thumbnail .article-info {
        padding-left: 1em;
        width: 48%; }
  .river-block.small {
    display: flex;
    justify-content: space-between; }
    .river-block.small .article {
      width: 33.33%;
      padding: 2em; }
    .river-block.small .thumbnail {
      margin-bottom: 1em; }
    .river-block.small .title {
      font-size: 1.25em; }
    .river-block.small .excerpt {
      margin-top: 2em; }
    .river-block.small .byline {
      margin-top: 1em; }

/*# sourceMappingURL=peak-publishing.css.map */
