@font-face {
  font-family: 'Charter';
  src: url("charter/webfonts/charter_regular-webfont.woff") format("woff"), url("charter/webfonts/charter_regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Charter';
  src: url("charter/webfonts/charter_bold-webfont.woff") format("woff"), url("charter/webfonts/charter_bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Charter';
  src: url("charter/webfonts/charter_italic-webfont.woff") format("woff"), url("charter/webfonts/charter_italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'OpenSans';
  src: url("open-sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans';
  src: url("open-sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans';
  src: url("open-sans/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
.sticky-nav header.site-header {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2); }

header.site-header {
  width: 100%;
  z-index: 2;
  height: 4em; }
  header.site-header .header-contents {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 4em;
    width: 100%;
    position: relative; }
  header.site-header .site-title {
    font-size: 1.5em;
    position: absolute;
    top: .5em; }
    header.site-header .site-title a {
      text-decoration: none;
      font-weight: bold;
      color: inherit; }
  header.site-header .custom-logo-link img {
    height: 4em;
    width: auto;
    margin-top: -1em; }
  header.site-header #primary-menu {
    position: absolute;
    top: 1.25em;
    right: 4em;
    text-align: right;
    z-index: 2; }
    header.site-header #primary-menu li {
      margin-left: 2em; }
    header.site-header #primary-menu .menu-item-has-children {
      position: relative;
      text-decoration: underline; }
      header.site-header #primary-menu .menu-item-has-children:hover {
        text-decoration: none; }
      header.site-header #primary-menu .menu-item-has-children .sub-menu {
        text-align: left;
        background-color: white;
        margin-left: -.5em;
        box-shadow: none;
        padding: .5em; }
        header.site-header #primary-menu .menu-item-has-children .sub-menu li {
          margin: .5em; }
  header.site-header .menu-toggle {
    border: none;
    background: none;
    font-size: 1.5em;
    margin-top: 2px;
    margin-right: .5em;
    padding: 0; }
  header.site-header .toggled {
    width: 100% !important;
    right: 0 !important;
    top: 0 !important; }
    header.site-header .toggled .menu-toggle {
      position: absolute;
      right: .75em;
      top: .75em;
      z-index: 3; }
    header.site-header .toggled li {
      margin: 0 !important;
      padding-top: .25em;
      padding-bottom: .25em;
      text-decoration: none !important; }
    header.site-header .toggled #primary-menu {
      padding-top: 3em;
      padding-bottom: 3em; }

#content, footer.site-footer {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4em;
  padding-right: 4em;
  width: 100%; }

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2em; }
  #main header {
    width: 100%; }

.sticky-nav #main {
  margin-top: 6em; }

.title {
  font-weight: bold;
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

input[type="submit"] {
  background-color: #FFFFFF;
  font-size: 1.05em;
  padding: 1em;
  cursor: pointer; }

/**
 * Archive styles.
 */
.featured-section {
  margin-bottom: 2em;
  position: relative; }
  .featured-section a {
    text-decoration: none;
    color: inherit; }
  .featured-section p {
    margin: 0; }
  .featured-section.full {
    width: 100%;
    margin-bottom: 2em; }
    .featured-section.full .title {
      font-size: 2em; }
    .featured-section.full.no-thumbnail .article-info {
      padding: 2em; }
    .featured-section.full.no-thumbnail .title {
      margin-bottom: 1em; }
    .featured-section.full.no-thumbnail .excerpt {
      font-size: 1.25em; }
    .featured-section.full.no-thumbnail .byline {
      margin-top: 2em; }
    .featured-section.full.has-thumbnail .article-info {
      position: absolute;
      bottom: 0;
      background: white;
      max-width: 75%; }
    .featured-section.full.has-thumbnail .title {
      padding: 1em; }
    .featured-section.full.has-thumbnail .byline {
      display: none; }
  .featured-section.large {
    width: 66.66%;
    padding-bottom: 4em; }
    .featured-section.large .title {
      font-size: 2em;
      margin-bottom: 1em; }
    .featured-section.large .excerpt {
      font-size: 1.25em; }
    .featured-section.large .byline {
      position: absolute;
      bottom: 2em; }
    .featured-section.large .article-info {
      padding: 2em; }
  .featured-section.small {
    width: 33.33%;
    padding: 2em;
    padding-top: 0; }
    .featured-section.small .article {
      margin-bottom: 2em;
      position: relative; }
    .featured-section.small .title {
      font-size: 1.25em; }
    .featured-section.small .byline {
      margin-top: 1em; }
  .featured-section.spacer {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 4em; }
    .featured-section.spacer hr {
      margin: 0; }

.posts-list-item {
  margin-bottom: 2em;
  position: relative; }
  .posts-list-item a {
    text-decoration: none;
    color: inherit; }
  .posts-list-item p {
    margin: 0; }
  .posts-list-item.full {
    width: 100%;
    padding-bottom: 2em; }
    .posts-list-item.full .title {
      font-size: 2em;
      margin-bottom: 1em; }
    .posts-list-item.full .byline {
      margin-top: 2em; }
    .posts-list-item.full.no-thumbnail .excerpt {
      font-size: 1.25em; }
    .posts-list-item.full.has-thumbnail {
      display: flex;
      justify-content: space-between; }
      .posts-list-item.full.has-thumbnail .thumbnail {
        padding-right: 1em; }
      .posts-list-item.full.has-thumbnail .article-info {
        padding-left: 1em;
        width: 48%; }
  .posts-list-item.small {
    display: flex;
    justify-content: space-between; }
    .posts-list-item.small .article {
      width: 33.33%;
      padding-bottom: 2em;
      box-sizing: content-box; }
      .posts-list-item.small .article:nth-of-type(2) {
        padding-left: 4em;
        padding-right: 4em; }
    .posts-list-item.small .thumbnail {
      margin-bottom: 1em; }
    .posts-list-item.small .title {
      font-size: 1.25em; }
    .posts-list-item.small .excerpt {
      margin-top: 2em; }
    .posts-list-item.small .byline {
      margin-top: 1em; }

.on-page-search {
  width: 100%;
  font-size: 16px !important;
  margin-bottom: 2em; }
  .on-page-search .search-field {
    line-height: 2em;
    border-right: none;
    padding: .25em; }
  .on-page-search .search-submit {
    padding: .75em;
    margin-left: -2px; }

.widget {
  width: 33.33%;
  padding: 2em;
  padding-top: 0;
  margin: 0; }
  .widget ul {
    margin-left: 0; }
  .widget ul {
    padding-left: 1em; }
  .widget .widget-title {
    font-size: 1.25em;
    margin: 0;
    margin-bottom: 1em; }
  .widget.widget_search .search-form {
    display: flex; }
  .widget.widget_search .search-field {
    line-height: 2em;
    border-right: none; }
  .widget.widget_search .search-submit {
    padding: .5em; }

.navigation {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em; }
  .navigation .nav-previous {
    float: right;
    text-align: right; }
  .navigation .nav-next {
    float: left;
    text-align: left; }
  .navigation a {
    text-decoration: none;
    font-size: 1.25em; }

/**
 * Single styles.
 */
.single #main, .page #main {
  display: block; }
.single p, .page p {
  margin-bottom: 2em;
  margin-top: 0; }
.single footer, .page footer {
  clear: both; }
  .single footer a, .page footer a {
    color: inherit; }
.single .byline, .page .byline {
  margin-bottom: 1em; }
.single .title, .page .title {
  margin-top: 0;
  margin-bottom: 1em; }
.single .content, .page .content {
  font-size: 1.25em; }
.single .post-thumbnail, .page .post-thumbnail {
  margin-bottom: 2em; }
.single .edit-link, .page .edit-link {
  float: right; }
.single .has-sidebar, .page .has-sidebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .single .has-sidebar .title, .single .has-sidebar .post-thumbnail, .single .has-sidebar .footer, .page .has-sidebar .title, .page .has-sidebar .post-thumbnail, .page .has-sidebar .footer {
    width: 100%; }
  .single .has-sidebar .content, .page .has-sidebar .content {
    width: calc( 100% - 300px ); }
  .single .has-sidebar #sidebar-single, .page .has-sidebar #sidebar-single {
    width: 300px; }
.single .comment-list, .page .comment-list {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none; }
  .single .comment-list .comment-content p:last-of-type, .page .comment-list .comment-content p:last-of-type {
    margin-bottom: 0; }
  .single .comment-list .comment-body, .page .comment-list .comment-body {
    margin-bottom: 2em; }
.single .tags-links, .page .tags-links {
  margin-left: 1em; }
.single figure.gallery-item, .page figure.gallery-item {
  padding-left: .5em;
  padding-right: .5em; }

#sidebar-single {
  padding-left: 2em; }
  #sidebar-single .widget {
    padding-left: 0;
    padding-right: 0;
    width: 100%; }

/**
 * Footer styles.
 */
footer.site-footer {
  text-align: center;
  margin-top: 4em;
  -ms-word-wrap: break-word;
  word-wrap: break-word; }
  footer.site-footer .site-description {
    margin-top: 2em;
    margin-bottom: 2em; }
  footer.site-footer .footer-menu {
    padding-bottom: 2em; }
    footer.site-footer .footer-menu ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      margin-left: 0; }
  footer.site-footer .theme-info {
    margin-bottom: 1em;
    font-size: 12px;
    opacity: 0.75; }

/**
 * Block styles.
 */
.wp-block-image {
  margin-bottom: 2em; }
  .wp-block-image .alignleft {
    margin-right: 2em; }
  .wp-block-image .alignright {
    margin-left: 2em; }

/**
 * Tablet styles.
 */
@media (max-width: 800px) {
  #main {
    display: block; }

  #site-navigation {
    position: absolute;
    right: 1em;
    top: 1em;
    width: auto; }

  header.site-header #primary-menu {
    position: relative;
    top: auto;
    right: auto;
    text-align: center; }
    header.site-header #primary-menu > li {
      float: none;
      width: 100%;
      font-size: 1.25em; }

  .featured-section.full.has-thumbnail .article-info {
    background: inherit;
    max-width: 100%;
    position: relative; }
  .featured-section.full.has-thumbnail .byline {
    display: block;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em; }
  .featured-section.large {
    width: 100%; }
  .featured-section.small {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0; }
    .featured-section.small .article {
      width: calc(50% - 2em); }

  .posts-list-featured-section.full {
    padding: 0; }
    .posts-list-featured-section.full.has-thumbnail {
      display: block; }
      .posts-list-featured-section.full.has-thumbnail .article-info {
        padding-left: 0;
        width: 100%;
        padding-top: 2em; }
  .posts-list-featured-section.small {
    flex-wrap: wrap;
    margin-bottom: 0; }
    .posts-list-featured-section.small .article {
      width: 100%;
      padding: 0 !important;
      margin-bottom: 2em; }

  .widget {
    width: 100%;
    padding-left: 0;
    padding-right: 0; }

  .has-sidebar {
    display: block !important; }
    .has-sidebar .content {
      width: 100% !important; }

  #sidebar-single {
    display: none; } }
/**
 * Mobile styles.
 */
@media (max-width: 600px) {
  ul {
    margin-left: 0; }

  .site-title {
    left: 1em; }

  header.site-header .header-contents {
    padding-left: 2em; }

  #content {
    font-size: 14px;
    padding-left: 2em;
    padding-right: 2em; }
    #content figure.gallery-item {
      max-width: 100% !important; }

  .featured-section .title {
    font-size: 1.5em !important; }
  .featured-section.full.no-thumbnail {
    border: none !important; }
    .featured-section.full.no-thumbnail .article-info {
      padding: 0; }
    .featured-section.full.no-thumbnail .title {
      margin-bottom: .5em; }
    .featured-section.full.no-thumbnail .byline {
      margin-top: 1em; }
  .featured-section.full.has-thumbnail .title, .featured-section.full.has-thumbnail .byline {
    padding: 0; }
  .featured-section.full.has-thumbnail .title {
    padding-bottom: .5em;
    padding-top: .5em; }
  .featured-section.large .article-info {
    padding: 0; }
  .featured-section.large .title {
    padding-top: .5em;
    margin-bottom: .5em; }
  .featured-section.large .byline {
    position: relative;
    bottom: auto;
    margin-top: 1em; }
  .featured-section.small .article {
    width: 100%; }

  .posts-list-item .title {
    font-size: 1.5em !important; }

  footer.site-footer .footer-menu ul {
    display: block; } }

/*# sourceMappingURL=peak-publishing.css.map */
